[Unit]
Description=Remove vim desktop icon

[Service]
Type=simple
ExecStart=/bin/sh -c 'rm -f /usr/share/applications/vim.desktop'

[Install]
WantedBy=multi-user.target
